html,
body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif JP";
}

pre,
code,
.highlight,
.highlighter-rouge {
  font-family: Ubuntu;
}

.logo {
  font-family: HanaBotan-DB;
}
