html,
body {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif JP", serif;
}

pre,
code,
.highlight,
.highlighter-rouge {
  font-family: Ubuntu, sans-serif;
}

.logo {
  font-family: HanaBotan-DB, serif;
}
