.hidden {
  display: none;
}

.controls {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-clip: padding-box;
  border: solid var(--header-border-color);
  border-radius: .3rem;
}

label {
  white-space: nowrap;
}

input[type="email"]:disabled::placeholder {
  color: var(--bg-color);
}

textarea {
  height: 20rem;
}

.button {
  width: 100%;
  padding: .5rem 1rem;
  margin: 1rem 0;
  border-width: 0;
  border-radius: .3rem;
  background: var(--header-border-color);
  color: #fff;
}

.form.join fieldset {
  border: 2px solid var(--theme-color);
  padding: 15px;
  border-radius: 6px;
}

.form.join fieldset legend {
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--theme-color);
}

.form.join fieldset legend + * {
  clear: both;
}

.form.join .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px;
}

.form.join .field {
  position: relative;
  width: 100%;
}

.form.join .field + .field {
  margin-left: 10px;
}

.form.join label {
  width: 100%;
  color: var(--theme-color);
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form.join .input {
  width: 100%;
  background: transparent;
  padding: 5px 0 6px 0;
  border-bottom: 2px solid var(--theme-color);
}

.form.join input,
.form.join button,
.form.join select {
  -webkit-animation: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
  border-radius: 0;
}

.form.join button {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px 0 0;
  background-color: var(--header-border-color);
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
