.hidden {
  display: none;
}

.controls {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-clip: padding-box;
  border: 1px solid #ddd;
  border-radius: .3rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea {
  height: 250px;
}

.button {
  width: 100%;
  padding: .5rem 1rem;
  margin: 1rem 0;
  border-width: 0;
  border-radius: .3rem;
  background: var(--header-border-color);
  color: #fff;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px var(--alpha-color);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  &:active {
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
