.hidden {
  display: none;
}

.controls {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-clip: padding-box;
  border: solid var(--header-border-color);
  border-radius: .3rem;
}

label {
  white-space: nowrap;
}

input[type="checkbox"] {
  margin: 1rem 0;
  background-color: var(--bg-color);
  border: solid var(--header-border-color);
  border-radius: .3rem;
  &:checked {
    background-color: var(--theme-color);
  }
}

input[type="email"]:disabled::placeholder {
  color: var(--bg-color);
}

textarea {
  height: 20rem;
}

.button {
  width: 100%;
  padding: .5rem 1rem;
  margin: 1rem 0;
  border-width: 0;
  border-radius: .3rem;
  background: var(--header-border-color);
  color: #fff;
}
