		[data-netlify-identity-button] a {
		  display: block;
		  position: relative;
		  width: 100%;
			max-width: 184px;
		  height: auto;
		  padding: 8px 12px;
		  margin: 0 48px;
		  outline: 0;
		  cursor: pointer;
		  border-radius: 4px;
		  background-color: var(--theme-color);
		  color: var(--bg-color);
		  transition: background-color 0.2s ease;
		  line-height: 24px;
		  text-align: center;
		  text-decoration: none;
		  white-space: nowrap;
		}

		[data-netlify-identity-button] a:hover,
		[data-netlify-identity-button] a:focus {
		  background-color: var(--theme-color);
		  text-decoration: none;
		}

		.netlify-identity-user-details {
			display: block;
		}

		.netlify-identity-user {
			font-weight: 500;
			color: #2d3b41;
			display: block;
			margin-top: 8px;
		}

		.hands-on-area {
			display: flex;
			margin-bottom: 40px;
		}

		.single-button {
			flex-grow: 1;
			margin-right: 104px;
			margin-bottom: 40px;
		}

		.single-button div {
			margin-top: 8px;
		}

		#netlify-identity-widget {
			z-index: 9999 !important;
		}
