table {
    border-spacing: 0px;
    border-collapse: collapse;
    width:100%;
}
  
.scroll {
    overflow: auto;
    white-space: nowrap;
}

.scroll::-webkit-scrollbar{
    height: 2px;
}

.scroll::-webkit-scrollbar-track{
    background: var(--zebra-color);
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

table,
th,
td {
    border: 1px solid var(--zebra-color);
}

table tr:nth-child(2n-1) {
    background-color: var(--bg-color);
}
 
table tr:nth-child(2n) {
    background-color: var(--zebra-color);
}

table tr th {
    font-weight: bold;
    background-color: var(--zebra-color);
}

table tr th,
table tr td {
    text-align: left;
    padding: 5px 10px;
}

.about-dl dt {
    padding-bottom: 5px;
    float: left;
    clear: left;
    width: 30%;
}

.about-dl dd {
    padding-bottom: 15px;
    -webkit-margin-start: 30%;
}

dl {
    margint:5px;
}
dl dt {
    float:left;
    clear: left;
    width:100px;
    :nth-child(2n-1) {
        background-color: var(--zebra-color);
    }
    :nth-child(2n) {
        background-color: var(--bg-color);
    }
    padding:5px;
}
dl dd {
    :nth-child(2n-1) {
        background-color: var(--bg-color);
    }
    :nth-child(2n) {
        background-color: var(--zebra-color);
    }
    margin-left:110px;  
    padding:5px;
}
